.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* margin: 1rem; Add margin to all sides of the card */
  flex: 1 1 calc(33.333% - 2rem); /* Adjust for three cards per row with some margin */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
  .card {
    flex: 1 1 100%; /* Full width on mobile */
    margin: 0.5rem 0; /* Adjust margin for mobile view */
    width: 100%;
    
  }

  .card-container {
    flex-direction: column; /* Stack cards vertically on mobile */
  }
}
