.header {
    background-color: rgba(228, 135, 13, 0.548);
    color:white;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    border-radius: 10px;
}